<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Faucet-Bot/src/chromeBot/ChromeBotDriver.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="chromeBot.ChromeBotDriver"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Faucet-Bot"/>
</launchConfiguration>
